<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Members List</ion-title>
    </ion-navbar>
</ion-header>   

<ion-content>
    <ion-list *ngIf="members.length !== 0 && !isLoading">    
        <ion-item-sliding *ngFor="let member of members; let i = index">
            <ion-item [ngClass]="i%2 === 0 ? 'ion-item-color': ''" (click)="viewMemberTask($event, member)">
                    <span>{{member.firstName}}</span>
                    <span>{{member.lastName}}</span>
            </ion-item>        
         
            <ion-item-options color="danger">
                <button (click)="removeMember($event,member)"><ion-icon name="trash"></ion-icon> Delete</button>
            </ion-item-options>
       </ion-item-sliding> 
    </ion-list>

    <ion-grid *ngIf="members.length === 0 && !isLoading">
        <ion-row center>
              <ion-col col-12>            
                    <h6 no-padding no-margin>Please click on "+" button to Create member.</h6>
              </ion-col>
        </ion-row>
  </ion-grid>

    <ion-fab right bottom>
        <button ion-fab mini (click)="openMemberModal()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>